<div class="row mt-4" style="padding-inline: 2rem;">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                Hola soy la card 1
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                Hola soy la card 3
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                Hola soy la card 2
            </div>
        </div>
    </div>
    <div class=" col 12 mt-3">
        <div class="card">
            <div class="card-body">
                Hola soy la card 1
            </div>
        </div>
    </div>
</div>