.content-element{
    position: relative;
}

.sidebar-occult{
    position: absolute;
    top: -24px;
    padding-top: 2rem;
    // left: -12px;
    left: 0;
    // height: 100vh;
    width: 25%;
    background-color: antiquewhite;
    z-index: 1;
}

.occult{
    display: none;
}

.visible{
    display: block;
}

@media (min-width:768px) {
    
    .sidebar-occult{
        display: none;
    }

}