<header>
    <nav class="navbar  navbar-dark bg-dark">
        <div class="navbar-content">
            <ul>
                <li>
                    <a class="text-white fw-bold" href="">
                        TURISMO EL RAPIDITO 
                    </a>
                </li>
                
            </ul>
            <div class="icon-toggle mr-2">
                <button class="btn btn-sm btn-outline-secondary" (click)="toggleService()">

                    {{ sharedStateService.sidebarOpen$ ? 'Close' : 'Open' }}
                </button>                  
            </div>
        </div>
      </nav>
</header>