.sidebar__items{

    a{
        color:hsl(210,10.81%,14.51%);
    }
    

}

.sidebar__items>ul>li{
    margin-bottom: 2rem;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    position: relative;
    padding-bottom: 1rem;
}


.sidebar__items>ul>li>a{
    
    font-weight: bold;
    
}


.item{
    li{
        margin-top: 1rem;
    }
}

.sidebar{
    padding-top: 2rem;
    border-right: 1px solid gray; 
    height: 100%;
}


.sidebar__items>ul>li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #b9b9b9;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.sidebar__items>ul>li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


